@import "reset.css";
@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";
@import "element-plus/theme-chalk/el-message.css";

html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.el-message {
    margin-top: 26px !important;
}

:root {
    /* 自定义主题颜色 */
    --el-color-primary: #ca3ef6;
    --el-color-primary-light-1: #cd5df8;
    --el-color-primary-light-2: #cd5cfa;
    --el-color-primary-light-3: #cf5dfa;
    --el-color-primary-light-4: #d377fa;
    --el-color-primary-light-5: #d98afa;
    --el-color-primary-light-6: #e496fa;
    --el-color-primary-light-7: #e9affa;
    --el-color-primary-light-8: #eab4f8;
    --el-color-primary-light-9: #ebd3f8;
    --el-color-primary-dark-1: #cd5df8;
    --el-color-primary-dark-2: #cd5cfa;
    --el-color-primary-dark-3: #cf5dfa;
    --el-color-primary-dark-4: #d377fa;
    --el-color-primary-dark-5: #d98afa;
    --el-color-primary-dark-6: #e496fa;
    --el-color-primary-dark-7: #e9affa;
    --el-color-primary-dark-8: #eab4f8;
    --el-color-primary-dark-9: #ebd3f8;
}

html.dark {
    /* 自定义深色主题颜色 */
    --el-color-primary: #ca3ef6;
    --el-color-primary-light-1: #cd5df8;
    --el-color-primary-light-2: #cd5cfa;
    --el-color-primary-light-3: #cf5dfa;
    --el-color-primary-light-4: #d377fa;
    --el-color-primary-light-5: #d98afa;
    --el-color-primary-light-6: #e496fa;
    --el-color-primary-light-7: #e9affa;
    --el-color-primary-light-8: #eab4f8;
    --el-color-primary-light-9: #ebd3f8;
    --el-color-primary-dark-1: #cd5df8;
    --el-color-primary-dark-2: #cd5cfa;
    --el-color-primary-dark-3: #cf5dfa;
    --el-color-primary-dark-4: #d377fa;
    --el-color-primary-dark-5: #d98afa;
    --el-color-primary-dark-6: #e496fa;
    --el-color-primary-dark-7: #e9affa;
    --el-color-primary-dark-8: #eab4f8;
    --el-color-primary-dark-9: #ebd3f8;
}
