@import "reset.css";
@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";
@import "element-plus/theme-chalk/el-message.css";

html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

:root {
    /*--el-color-primary: green;*/
}

html.dark {
    /* 自定义深色背景颜色 */
    --el-bg-color: #626aef;
}